[submodule "VisE"]
	path = VisE
	url = git@github.com:FakeNarratives/VisE.git
[submodule "mmocr"]
	path = mmocr
	url = git@github.com:FakeNarratives/mmocr.git
[submodule "audio_analysis/whisper"]
	path = audio_analysis/whisper
	url = git@github.com:openai/whisper.git
